<div class="footer">
  <div class="footer_bar">
      <p class="footer_bar-text">Web Design</p>
      <p class="footer_bar-text">Desenvolvimento Front-End</p>
      <p class="footer_bar-text">Desenhista</p>
  </div>
  <div class="footer_send-me">
      <input class="sendme" type="button" value="Mande-me um mensagem...">
      <textarea name="name" rows="8" cols="80"></textarea>
  </div>

  <div class="right">
      <div class="footer_social">
          <ul>
              <li class="facebook"><a href="https://www.facebook.com/profile.php?id=100008973459426" target="_blank"></a></li>
              <li class="linkedin"><a href="https://www.linkedin.com/in/diego-marcelo-02aa147a/" target="_blank"></a></li>
              <li class="github"><a href="https://github.com/diegomcsilva" target="_blank"></a></li>
          </ul>
      </div>
      <div class="footer_contato">
          <h3><a href="mailto:diegomcsilva191@gmail.com" target="_blank">E-mail: diegomcsilva191@gmail.com</a></h3>
          <h3>Telefone: 021-976457034 / Celular: (021) 99856-2921 (Claro) / (021) 98362-0335 (Tim)</h3>
      </div>
  </div>
